What Can Pandas Do?
Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?

What is average value?

Max value?

Min value?

Installing and Importing Pandas

In [3]:
# pip install pandas
import pandas as pd

creating a pandas dataframe.

In [5]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

Checking Pandas Version

In [6]:
import pandas as pd

print(pd.__version__)

2.1.0

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [7]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

With the index argument, you can name your own labels.

In [8]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

Key/Value Objects as Series

Note: The keys of the dictionary become the labels.

In [9]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [10]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

Create a DataFrame from two Series:

In [16]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
df = myvar
print(myvar)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45
   calories  duration
0       420        50
1       380        40
2       390        45

Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [19]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [21]:
#use a list of indexes:
print(df.loc[[0, 1]])
#Note: When using [], the result is a Pandas DataFrame.

   calories  duration
0       420        50
1       380        40

Example
Add a list of names to give each row a name:

In [22]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

Locate Named Indexes
Use the named index in the loc attribute to return the specified row(s).

In [23]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

Load Files Into a DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.

Read CSV Files
A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In our examples we will be using a CSV file called 'data.csv'.

In [24]:
# df = pd.read_csv('data.csv')
df = pd.read_csv('fights.csv')

print(df)

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
0                0  2013      1    1     517.0             515        2.0
1                1  2013      1    1     533.0             529        4.0
2                2  2013      1    1     542.0             540        2.0
3                3  2013      1    1     544.0             545       -1.0
4                4  2013      1    1     554.0             600       -6.0
...            ...   ...    ...  ...       ...             ...        ...
336771      336771  2013      9   30       NaN            1455        NaN
336772      336772  2013      9   30       NaN            2200        NaN
336773      336773  2013      9   30       NaN            1210        NaN
336774      336774  2013      9   30       NaN            1159        NaN
336775      336775  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin  \
0          830.0             819       11.0      UA    1545  N14228    EWR
1          850.0             830       20.0      UA    1714  N24211    LGA
2          923.0             850       33.0      AA    1141  N619AA    JFK
3         1004.0            1022      -18.0      B6     725  N804JB    JFK
4          812.0             837      -25.0      DL     461  N668DN    LGA
...          ...             ...        ...     ...     ...     ...    ...
336771       NaN            1634        NaN      9E    3393     NaN    JFK
336772       NaN            2312        NaN      9E    3525     NaN    LGA
336773       NaN            1330        NaN      MQ    3461  N535MQ    LGA
336774       NaN            1344        NaN      MQ    3572  N511MQ    LGA
336775       NaN            1020        NaN      MQ    3531  N839MQ    LGA

       dest  air_time  distance  hour  minute            time_hour
0       IAH     227.0      1400     5      15  2013-01-01 05:00:00
1       IAH     227.0      1416     5      29  2013-01-01 05:00:00
2       MIA     160.0      1089     5      40  2013-01-01 05:00:00
3       BQN     183.0      1576     5      45  2013-01-01 05:00:00
4       ATL     116.0       762     6       0  2013-01-01 06:00:00
...     ...       ...       ...   ...     ...                  ...
336771  DCA       NaN       213    14      55  2013-09-30 14:00:00
336772  SYR       NaN       198    22       0  2013-09-30 22:00:00
336773  BNA       NaN       764    12      10  2013-09-30 12:00:00
336774  CLE       NaN       419    11      59  2013-09-30 11:00:00
336775  RDU       NaN       431     8      40  2013-09-30 08:00:00

[336776 rows x 20 columns]

In [26]:
df = pd.read_csv('data.csv')

print(df.to_string()) 
# Tip: use to_string() to print the entire DataFrame.

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [27]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [28]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

max_rows
The number of rows returned is defined in Pandas option settings.

You can check your system's maximum rows with the pd.options.display.max_rows statement.

In [29]:
print(pd.options.display.max_rows)

60

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

You can change the maximum rows number with the same statement.

In [30]:
pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

Read JSON
Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

In [31]:
df.to_json('data.json')# for creating the data into json format

In [32]:
df = pd.read_json('data.json')

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [33]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

Dictionary as JSON

JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

Example
Load a Python Dictionary into a DataFrame:

In [34]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

Pandas - Analyzing DataFrames

Viewing the Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [35]:
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

In [36]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

In [37]:
df.head(3)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340

In [39]:
df.tail()

   Duration  Pulse  Maxpulse  Calories
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [38]:
df.tail(3)

   Duration  Pulse  Maxpulse  Calories
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

Info About the Data
The DataFrames object has a method called info(), that gives you more information about the data set.

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes

Data Cleaning
Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates
In this tutorial you will learn how to deal with all of them.

In [44]:
df = pd.read_csv('data12.csv')

In [42]:
df

         Duration          Date  Pulse  Maxpulse  Calories
0     0         60  '2020/12/01'    110       130 ...
1     1         60  '2020/12/02'    117       145 ...
2     2         60  '2020/12/03'    103       135 ...
3     3         45  '2020/12/04'    109       175 ...
4     4         45  '2020/12/05'    117       148 ...
5     5         60  '2020/12/06'    102       127 ...
6     6         60  '2020/12/07'    110       136 ...
7     7        450  '2020/12/08'    104       134 ...
8     8         30  '2020/12/09'    109       133 ...
9     9         60  '2020/12/10'     98       124 ...
10    10        60  '2020/12/11'    103       147 ...
11    11        60  '2020/12/12'    100       120 ...
12    12        60  '2020/12/12'    100       120 ...
13    13        60  '2020/12/13'    106       128 ...
14    14        60  '2020/12/14'    104       132 ...
15    15        60  '2020/12/15'     98       123 ...
16    16        60  '2020/12/16'     98       120 ...
17    17        60  '2020/12/17'    100       120 ...
18    18        45  '2020/12/18'     90       112 ...
19    19        60  '2020/12/19'    103       123 ...
20    20        45  '2020/12/20'     97       125 ...
21    21        60  '2020/12/21'    108       131 ...
22    22        45           NaN    100       119 ...
23    23        60  '2020/12/23'    130       101 ...
24    24        45  '2020/12/24'    105       132 ...
25    25        60  '2020/12/25'    102       126 ...
26    26        60    2020/12/26    100       120 ...
27    27        60  '2020/12/27'     92       118 ...
28    28        60  '2020/12/28'    103       132 ...
29    29        60  '2020/12/29'    100       132 ...
30    30        60  '2020/12/30'    102       129 ...
31    31        60  '2020/12/31'     92       115 ...

Pandas - Cleaning Empty Cells


Empty Cells
Empty cells can potentially give you a wrong result when you analyze data.

Remove Rows
One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [47]:
import pandas as pd

df = pd.read_csv('data12.csv')

new_df = df.dropna()

print(new_df.to_string())
# Note: By default, the dropna() method returns a new DataFrame, and will not change the original.

Empty DataFrame
Columns: [Unnamed: 0, Duration, Date, Pulse, Maxpulse, Calories, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11]
Index: []

If you want to change the original DataFrame, use the inplace = True argument:

In [48]:
df = pd.read_csv('data12.csv')

df.dropna(inplace = True)

print(df.to_string())
# Note: Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

Empty DataFrame
Columns: [Unnamed: 0, Duration, Date, Pulse, Maxpulse, Calories, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11]
Index: []

In [49]:
df

Empty DataFrame
Columns: [Unnamed: 0, Duration, Date, Pulse, Maxpulse, Calories, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11]
Index: []

Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

In [50]:
df = pd.read_csv('data12.csv')

df.fillna(130, inplace = True)

In [51]:
df

,Unnamed: 0,Duration,Date,Pulse,Maxpulse,Calories,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0,60,'2020/12/01',110,130,409.1,130.0,130.0,130.0,130.0,130.0,130.0
1,1,60,'2020/12/02',117,145,479.0,130.0,130.0,130.0,130.0,130.0,130.0
2,2,60,'2020/12/03',103,135,340.0,130.0,130.0,130.0,130.0,130.0,130.0
3,3,45,'2020/12/04',109,175,282.4,130.0,130.0,130.0,130.0,130.0,130.0
4,4,45,'2020/12/05',117,148,406.0,130.0,130.0,130.0,130.0,130.0,130.0
5,5,60,'2020/12/06',102,127,300.0,130.0,130.0,130.0,130.0,130.0,130.0
6,6,60,'2020/12/07',110,136,374.0,130.0,130.0,130.0,130.0,130.0,130.0
7,7,450,'2020/12/08',104,134,253.3,130.0,130.0,130.0,130.0,130.0,130.0
8,8,30,'2020/12/09',109,133,195.1,130.0,130.0,130.0,130.0,130.0,130.0
9,9,60,'2020/12/10',98,124,269.0,130.0,130.0,130.0,130.0,130.0,130.0
10,10,60,'2020/12/11',103,147,329.3,130.0,130.0,130.0,130.0,130.0,130.0
11,11,60,'2020/12/12',100,120,250.7,130.0,130.0,130.0,130.0,130.0,130.0
12,12,60,'2020/12/12',100,120,250.7,130.0,130.0,130.0,130.0,130.0,130.0
13,13,60,'2020/12/13',106,128,345.3,130.0,130.0,130.0,130.0,130.0,130.0
14,14,60,'2020/12/14',104,132,379.3,130.0,130.0,130.0,130.0,130.0,130.0
15,15,60,'2020/12/15',98,123,275.0,130.0,130.0,130.0,130.0,130.0,130.0
16,16,60,'2020/12/16',98,120,215.2,130.0,130.0,130.0,130.0,130.0,130.0
17,17,60,'2020/12/17',100,120,300.0,130.0,130.0,130.0,130.0,130.0,130.0
18,18,45,'2020/12/18',90,112,130.0,130.0,130.0,130.0,130.0,130.0,130.0
19,19,60,'2020/12/19',103,123,323.0,130.0,130.0,130.0,130.0,130.0,130.0
20,20,45,'2020/12/20',97,125,243.0,130.0,130.0,130.0,130.0,130.0,130.0
21,21,60,'2020/12/21',108,131,364.2,130.0,130.0,130.0,130.0,130.0,130.0
22,22,45,130,100,119,282.0,130.0,130.0,130.0,130.0,130.0,130.0
23,23,60,'2020/12/23',130,101,300.0,130.0,130.0,130.0,130.0,130.0,130.0
24,24,45,'2020/12/24',105,132,246.0,130.0,130.0,130.0,130.0,130.0,130.0
25,25,60,'2020/12/25',102,126,334.5,130.0,130.0,130.0,130.0,130.0,130.0
26,26,60,12/26/2020,100,120,250.0,130.0,130.0,130.0,130.0,130.0,130.0
27,27,60,'2020/12/27',92,118,241.0,130.0,130.0,130.0,130.0,130.0,130.0
28,28,60,'2020/12/28',103,132,130.0,130.0,130.0,130.0,130.0,130.0,130.0
29,29,60,'2020/12/29',100,132,280.0,130.0,130.0,130.0,130.0,130.0,130.0
30,30,60,'2020/12/30',102,129,380.3,130.0,130.0,130.0,130.0,130.0,130.0
31,31,60,'2020/12/31',92,115,243.0,130.0,130.0,130.0,130.0,130.0,130.0

Replace Only For Specified Columns
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:



Example
Replace NULL values in the "Calories" columns with the number 130:

In [60]:
df = pd.read_csv('data12.csv')

df["Calories"].fillna(130, inplace = True)

In [61]:
df

,Unnamed: 0,Duration,Date,Pulse,Maxpulse,Calories,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0,60,'2020/12/01',110,130,409.1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,60,'2020/12/02',117,145,479.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,60,'2020/12/03',103,135,340.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,45,'2020/12/04',109,175,282.4,NaN,NaN,NaN,NaN,NaN,NaN
4,4,45,'2020/12/05',117,148,406.0,NaN,NaN,NaN,NaN,NaN,NaN
5,5,60,'2020/12/06',102,127,300.0,NaN,NaN,NaN,NaN,NaN,NaN
6,6,60,'2020/12/07',110,136,374.0,NaN,NaN,NaN,NaN,NaN,NaN
7,7,450,'2020/12/08',104,134,253.3,NaN,NaN,NaN,NaN,NaN,NaN
8,8,30,'2020/12/09',109,133,195.1,NaN,NaN,NaN,NaN,NaN,NaN
9,9,60,'2020/12/10',98,124,269.0,NaN,NaN,NaN,NaN,NaN,NaN
10,10,60,'2020/12/11',103,147,329.3,NaN,NaN,NaN,NaN,NaN,NaN
11,11,60,'2020/12/12',100,120,250.7,NaN,NaN,NaN,NaN,NaN,NaN
12,12,60,'2020/12/12',100,120,250.7,NaN,NaN,NaN,NaN,NaN,NaN
13,13,60,'2020/12/13',106,128,345.3,NaN,NaN,NaN,NaN,NaN,NaN
14,14,60,'2020/12/14',104,132,379.3,NaN,NaN,NaN,NaN,NaN,NaN
15,15,60,'2020/12/15',98,123,275.0,NaN,NaN,NaN,NaN,NaN,NaN
16,16,60,'2020/12/16',98,120,215.2,NaN,NaN,NaN,NaN,NaN,NaN
17,17,60,'2020/12/17',100,120,300.0,NaN,NaN,NaN,NaN,NaN,NaN
18,18,45,'2020/12/18',90,112,130.0,NaN,NaN,NaN,NaN,NaN,NaN
19,19,60,'2020/12/19',103,123,323.0,NaN,NaN,NaN,NaN,NaN,NaN
20,20,45,'2020/12/20',97,125,243.0,NaN,NaN,NaN,NaN,NaN,NaN
21,21,60,'2020/12/21',108,131,364.2,NaN,NaN,NaN,NaN,NaN,NaN
22,22,45,NaN,100,119,282.0,NaN,NaN,NaN,NaN,NaN,NaN
23,23,60,'2020/12/23',130,101,300.0,NaN,NaN,NaN,NaN,NaN,NaN
24,24,45,'2020/12/24',105,132,246.0,NaN,NaN,NaN,NaN,NaN,NaN
25,25,60,'2020/12/25',102,126,334.5,NaN,NaN,NaN,NaN,NaN,NaN
26,26,60,12/26/2020,100,120,250.0,NaN,NaN,NaN,NaN,NaN,NaN
27,27,60,'2020/12/27',92,118,241.0,NaN,NaN,NaN,NaN,NaN,NaN
28,28,60,'2020/12/28',103,132,130.0,NaN,NaN,NaN,NaN,NaN,NaN
29,29,60,'2020/12/29',100,132,280.0,NaN,NaN,NaN,NaN,NaN,NaN
30,30,60,'2020/12/30',102,129,380.3,NaN,NaN,NaN,NaN,NaN,NaN
31,31,60,'2020/12/31',92,115,243.0,NaN,NaN,NaN,NaN,NaN,NaN

Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

Example
Calculate the MEAN, and replace any empty values with it:

In [57]:
df = pd.read_csv('data12.csv')

x = df["Calories"].mean()
print(x)
df["Calories"].fillna(x, inplace = True)

df

304.68

,Unnamed: 0,Duration,Date,Pulse,Maxpulse,Calories,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0,60,'2020/12/01',110,130,409.10,NaN,NaN,NaN,NaN,NaN,NaN
1,1,60,'2020/12/02',117,145,479.00,NaN,NaN,NaN,NaN,NaN,NaN
2,2,60,'2020/12/03',103,135,340.00,NaN,NaN,NaN,NaN,NaN,NaN
3,3,45,'2020/12/04',109,175,282.40,NaN,NaN,NaN,NaN,NaN,NaN
4,4,45,'2020/12/05',117,148,406.00,NaN,NaN,NaN,NaN,NaN,NaN
5,5,60,'2020/12/06',102,127,300.00,NaN,NaN,NaN,NaN,NaN,NaN
6,6,60,'2020/12/07',110,136,374.00,NaN,NaN,NaN,NaN,NaN,NaN
7,7,450,'2020/12/08',104,134,253.30,NaN,NaN,NaN,NaN,NaN,NaN
8,8,30,'2020/12/09',109,133,195.10,NaN,NaN,NaN,NaN,NaN,NaN
9,9,60,'2020/12/10',98,124,269.00,NaN,NaN,NaN,NaN,NaN,NaN
10,10,60,'2020/12/11',103,147,329.30,NaN,NaN,NaN,NaN,NaN,NaN
11,11,60,'2020/12/12',100,120,250.70,NaN,NaN,NaN,NaN,NaN,NaN
12,12,60,'2020/12/12',100,120,250.70,NaN,NaN,NaN,NaN,NaN,NaN
13,13,60,'2020/12/13',106,128,345.30,NaN,NaN,NaN,NaN,NaN,NaN
14,14,60,'2020/12/14',104,132,379.30,NaN,NaN,NaN,NaN,NaN,NaN
15,15,60,'2020/12/15',98,123,275.00,NaN,NaN,NaN,NaN,NaN,NaN
16,16,60,'2020/12/16',98,120,215.20,NaN,NaN,NaN,NaN,NaN,NaN
17,17,60,'2020/12/17',100,120,300.00,NaN,NaN,NaN,NaN,NaN,NaN
18,18,45,'2020/12/18',90,112,304.68,NaN,NaN,NaN,NaN,NaN,NaN
19,19,60,'2020/12/19',103,123,323.00,NaN,NaN,NaN,NaN,NaN,NaN
20,20,45,'2020/12/20',97,125,243.00,NaN,NaN,NaN,NaN,NaN,NaN
21,21,60,'2020/12/21',108,131,364.20,NaN,NaN,NaN,NaN,NaN,NaN
22,22,45,NaN,100,119,282.00,NaN,NaN,NaN,NaN,NaN,NaN
23,23,60,'2020/12/23',130,101,300.00,NaN,NaN,NaN,NaN,NaN,NaN
24,24,45,'2020/12/24',105,132,246.00,NaN,NaN,NaN,NaN,NaN,NaN
25,25,60,'2020/12/25',102,126,334.50,NaN,NaN,NaN,NaN,NaN,NaN
26,26,60,12/26/2020,100,120,250.00,NaN,NaN,NaN,NaN,NaN,NaN
27,27,60,'2020/12/27',92,118,241.00,NaN,NaN,NaN,NaN,NaN,NaN
28,28,60,'2020/12/28',103,132,304.68,NaN,NaN,NaN,NaN,NaN,NaN
29,29,60,'2020/12/29',100,132,280.00,NaN,NaN,NaN,NaN,NaN,NaN
30,30,60,'2020/12/30',102,129,380.30,NaN,NaN,NaN,NaN,NaN,NaN
31,31,60,'2020/12/31',92,115,243.00,NaN,NaN,NaN,NaN,NaN,NaN

Median = the value in the middle, after you have sorted all values ascending.

Example
Calculate the MODE, and replace any empty values with it:

In [64]:
df = pd.read_csv('data12.csv')

x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace = True)
print(x)
df

300.0

,Unnamed: 0,Duration,Date,Pulse,Maxpulse,Calories,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0,60,'2020/12/01',110,130,409.1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,60,'2020/12/02',117,145,479.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,60,'2020/12/03',103,135,340.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,45,'2020/12/04',109,175,282.4,NaN,NaN,NaN,NaN,NaN,NaN
4,4,45,'2020/12/05',117,148,406.0,NaN,NaN,NaN,NaN,NaN,NaN
5,5,60,'2020/12/06',102,127,300.0,NaN,NaN,NaN,NaN,NaN,NaN
6,6,60,'2020/12/07',110,136,374.0,NaN,NaN,NaN,NaN,NaN,NaN
7,7,450,'2020/12/08',104,134,253.3,NaN,NaN,NaN,NaN,NaN,NaN
8,8,30,'2020/12/09',109,133,195.1,NaN,NaN,NaN,NaN,NaN,NaN
9,9,60,'2020/12/10',98,124,269.0,NaN,NaN,NaN,NaN,NaN,NaN
10,10,60,'2020/12/11',103,147,329.3,NaN,NaN,NaN,NaN,NaN,NaN
11,11,60,'2020/12/12',100,120,250.7,NaN,NaN,NaN,NaN,NaN,NaN
12,12,60,'2020/12/12',100,120,250.7,NaN,NaN,NaN,NaN,NaN,NaN
13,13,60,'2020/12/13',106,128,345.3,NaN,NaN,NaN,NaN,NaN,NaN
14,14,60,'2020/12/14',104,132,379.3,NaN,NaN,NaN,NaN,NaN,NaN
15,15,60,'2020/12/15',98,123,275.0,NaN,NaN,NaN,NaN,NaN,NaN
16,16,60,'2020/12/16',98,120,215.2,NaN,NaN,NaN,NaN,NaN,NaN
17,17,60,'2020/12/17',100,120,300.0,NaN,NaN,NaN,NaN,NaN,NaN
18,18,45,'2020/12/18',90,112,300.0,NaN,NaN,NaN,NaN,NaN,NaN
19,19,60,'2020/12/19',103,123,323.0,NaN,NaN,NaN,NaN,NaN,NaN
20,20,45,'2020/12/20',97,125,243.0,NaN,NaN,NaN,NaN,NaN,NaN
21,21,60,'2020/12/21',108,131,364.2,NaN,NaN,NaN,NaN,NaN,NaN
22,22,45,NaN,100,119,282.0,NaN,NaN,NaN,NaN,NaN,NaN
23,23,60,'2020/12/23',130,101,300.0,NaN,NaN,NaN,NaN,NaN,NaN
24,24,45,'2020/12/24',105,132,246.0,NaN,NaN,NaN,NaN,NaN,NaN
25,25,60,'2020/12/25',102,126,334.5,NaN,NaN,NaN,NaN,NaN,NaN
26,26,60,12/26/2020,100,120,250.0,NaN,NaN,NaN,NaN,NaN,NaN
27,27,60,'2020/12/27',92,118,241.0,NaN,NaN,NaN,NaN,NaN,NaN
28,28,60,'2020/12/28',103,132,300.0,NaN,NaN,NaN,NaN,NaN,NaN
29,29,60,'2020/12/29',100,132,280.0,NaN,NaN,NaN,NaN,NaN,NaN
30,30,60,'2020/12/30',102,129,380.3,NaN,NaN,NaN,NaN,NaN,NaN
31,31,60,'2020/12/31',92,115,243.0,NaN,NaN,NaN,NaN,NaN,NaN

Mode = the value that appears most frequently.

Pandas - Cleaning Data of Wrong Format

Data of Wrong Format
Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

In [68]:
import datetime

In [69]:
df = pd.read_csv('data12.csv')


df['Date'] = pd.to_datetime(df['Date'])

# print(df.to_string())
df

ValueError: time data "12/26/2020" doesn't match format "'%Y/%m/%d'", at position 26. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.